<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-g">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wescoup{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tennisstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pickleballstyles.css') }}">
    <!-- NEW GAMES STYLESHEET -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gamesstyles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="nav-logo">Wescoup</a>
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('tonys_tennis_tools') }}">Tennis</a></li>
                <li><a href="{{ url_for('tonys_pickleball_tools') }}">Pickleball</a></li>
                <!-- NEW NAV LINK FOR GAMES -->
                <li><a href="{{ url_for('tonys_time_traps') }}">Games</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Wescoup. All rights reserved.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
